# macOS
.DS_Store

# Xcode
build/
DerivedData/
xcuserdata/
*.xcuserstate
*.moved-aside
*.pbxuser
*.perspectivev3
*.mode1v3
*.mode2v3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcodeproj.bak
*.pbxproj.bak

# Swift Package Manager
.build/

# Apollo iOS local tooling
apollo-ios-cli

# Local config and secrets
.env
.env.local
*.xcconfig.local
